<div class = "container">
<form action="/create" method="POST">
    <h1>게시판 입니다</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">제목</label>
    <input name = "title" type="text" class="form-control" id="exampleInputEmail1" placeholder="게시판 제목입니다.">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">내용</label>
    <textarea name = "content" class="form-control" id="exampleInputPassword1" placeholder="게시판 내용입니다." rows='20'></textarea>
  </div>
  <button type="submit" class="btn btn-default">제출</button>
</form>
</div>